* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

datalist {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

option {
    padding: 0;
}

input[type="range"] {
    width: 500px;
    margin: 0;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    font: 18px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}

.red-state {
    fill: #cc0a11;
}

.blue-state {
    fill: #25428f;
}

.other-state {
    fill: green;
}

.stateText {
    text-anchor: middle;
    fill: white;
    font-family: Arial, Helvetica, sans-serif;
    pointer-events: none;
    dominant-baseline: central;
}

.tick>line,
.axis>path {
    stroke: none
}

/* Scroll */

@media (max-width: 1023px) {
    #scrolly {
        position: relative;
        padding: 1rem;
    }

    article {
        position: relative;
        padding: 0;
        max-width: 26rem;
        margin: 0 auto;
    }

    svg {
        left: 0;
    }

    .step {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
    }

    .step h1 {
        padding: 0 1rem;
    }
}

@media (min-width: 1024px) {
    #scrolly {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 1rem;
    }

    #scrolly>* {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    article {
        position: relative;
        padding: 0 1rem;
        max-width: 26rem;
    }
}

svg {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-color: #fff;
    z-index: 0;
    padding-left: 1rem;
    padding-top: 1rem;
}

.step {
    margin: 0 auto 4rem auto;
    /* background-color: #3b3b3b;
    color: #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.2;
}

.step:last-child {
    margin-bottom: 0;
}

.step.is-active {
    /* background-color: goldenrod;
    color: #3b3b3b; */
    opacity: 1;
}

.step p {
    text-align: center;
    padding: 1rem;
    font-size: 1.25rem;
    margin: 0;
}

.step h1 {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.distribution-label {
    text-anchor: middle;
    font-size: 1rem;
}

.distribution-title {
    text-anchor: middle;
    font-size: 1.5rem;
    font-weight: bold;
}

.bar-annotation {
    text-anchor: middle;
    fill: white;
    font-weight: bold;
}

#intro, #outro {
    padding: 0 1rem;
}

.narration__header {
    text-align: center;
    font-size: 2rem;
    font-family: Raleway;
}

.narration__body {
    font-size: 1.2rem;
}